/* src/components/Header.css */
.header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px; /* Adjust this value to change the spacing between the logo and the links */
}

.header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.header nav ul li {
    margin: 0 10px;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header nav ul li a:hover {
    text-decoration: underline;
}
